<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Order matters ;) -->
    <script type="text/javascript" src="/javascripts/vendors/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/vendors/underscore-min.js"></script>
    <script type="text/javascript" src="/javascripts/vendors/backbone-min.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
